/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
/* CSS for Home Image Section */
#home {
    display: flex;
    justify-content: center; /* Center the images horizontally */
    align-items: center; /* Center the images vertically */
}

.image-gallery {
    display: flex; /* Set display to flex to align items in a row */
}

.image-gallery img {
    width: 500px; /* Set width of each image */
    height: 500px; /* Set height of each image */
    margin: 0 20px; /* Add margin between images */
}

/* Heading styles */
h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

h2 {
    color: white;
}

/* Paragraph styles */
p {
    margin-bottom: 20px;
    line-height: 1.5;
}

/* Navigation styles */
nav {
    background-color: #333;
    color: white;
    padding: 10px;
    float: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: block;
    margin-bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li a i {
    margin-right: 10px;
}

nav ul li a:hover {
    color: #f9004d;
}

/* Hero section styles */
.hero {
    text-align: center;
    padding: 50px 0;
}

/* Intro section styles */
.intro {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: black;
    color: white;
}

.intro h4,
.intro h1,
.intro h3 {
    margin: 0;
}

.intro a {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
    text-align: right;
}

.intro a:hover {
    background-color: #333;
}

/* About section styles */
#about,
#skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

#about .content,
#skills .content {
    width: 50%;
}

#about .image,
#skills .image {
    width: 40%;
    text-align: right;
}

#about img,
#skills img {
    max-width: 100%;
    height: auto;
}

/* Project section styles */
#projects {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 20px;
}

.project {
    width: 45%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.project-info h3 {
    margin-top: 0;
}

.project-info p {
    margin-bottom: 0;
}

/* Contact section */
.contact-section {
    text-align: center;
    padding: 20px;
}

/* Name styling */
.contact-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Social media icons */
.social-icons {
    margin-top: 20px;
}

.social-icon {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #007bff;
}
